name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # This will allow you run manually from Action tab if neccesary -hanshaddad
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # Please ensure username and nama space below are correct-hanshaddad
        #run: git push https://MahaniSA:$HF_TOKEN@huggingface.co/spaces/MahaniSA/kpj-pathway-demo main

       run: git push --force https://MahaniSA:$HF_TOKEN@huggingface.co/spaces/MahaniSA/kpj-pathway-demo main
